@import url(https://unpkg.com/modern-css-reset);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/regular.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css);

/* * { border: 1px solid red; } */

@media all {/* Defaults */
  :root {
    --color-primary-tint-1: #212121;
    --color-primary-tint-2: #292929;
    --color-primary-tint-3: #535353;
    --color-secondary: #E7E7E7;
  }
  * {
    color: var(--color-primary-tint-1);
    font-family: "Roboto Condensed", sans-serif;;

    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-secondary);

    padding: 0 2.5% 2.5% 2.5%;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  a {
    text-decoration: none;
  }
  :focus {
    outline-color: var(--color-primary-tint-3);
  }
}
@media all {/* High-order components */
  body > header,
  body > footer {
    text-align: center;
  }
  body > header,
  body > nav,
  body > main {
    display: flex;
    flex-flow: column;
  }
  body > header,
  body > main,
  body > footer {
    max-width: 54%;
    margin: 0 auto;
  }
  @media all and (max-width: 50em) {
    body > header,
    body > main,
    body > footer {
      max-width: 90%;
    }
  }
}
@media all {/* Nav */
  nav * {
    color: var(--color-primary-tint-2);
  }
  @media all and (max-width: 50em) {
    nav > * {
      justify-content: space-around;
    }
  }
  @media all and (min-width: 50em) {
    nav {
      max-width: 60%;
    }
    nav > * {
      justify-content: space-between;
    }
  }
}
@media all {/* Header */
  body > header {
    align-items: center;
    min-height: 10em;
  }
  @media all and (min-width: 50em) {
    body > header  {
      flex-flow: row wrap;
      justify-content: space-between;
    }
    body > header > :first-child {
      flex-grow: 2;
    }
    body > header > :last-child {
      flex-grow: 5;
    }
  }
  @media all and (max-width: 50em) {
    body > header {
      flex-flow: column nowrap;
      justify-content: space-around;
    }
    body > header > :last-child {
      width: 100%;
    }
  }
}
@media all {/* Main */
  main header,
  main p {
    padding: 0 0 1em;
  }
}
@media all {/* Footer */
  footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;

    margin: 0 auto;
    padding: 1em 0;
  }
  footer > * {
    margin: 0 .75em;
  }
  footer section {
    display: flex;
    justify-content: space-between;
  }
  footer section:first-child  {
    flex-flow: column;
  }
  footer > section > section {
    height: 2em;
  }
  footer em {
    color: var(--color-primary-tint-3);
  }
}
@media all {/* Article */
  article {
    padding: 1em 0 2em;
  }
}

/* Ids / Classes */

@media all {/* Horizontal menu */
  ul.horizontal {
    display: flex;

    padding: 0;
    margin: 0;

    list-style: none;
  }
  ul.horizontal label > * {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  ul.horizontal.dispersed {
    justify-content: space-between;
  }
}
@media all {/* Squared */
  section.squared canvas {
    max-width: 5em;
    max-height: 5em;
  }
}
@media all {/* Pagination */
  input.page[type="radio"],
  input.page[type="radio"] + section {
    display: none;
  }
  input.page[type="radio"]:checked + section {
    display: block;
  }
  label.page {
    cursor: pointer;
  }
  li.page.selected {
    border-bottom: .2em solid var(--color-primary-tint-2);
    border-radius: .3em;
  }
}
@media all {/* Pre-load */
  .pre-load {
    transition: 0.75s ease;
    opacity: 0;
  }
}
@media all {/* Neutral styles */
  .clear {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .undisplayed {
    display: none;
  }
}
@media all {/* Simple Line Icons */
  .icons {
    font-size: 2em;
  }
}
