@import url(https://unpkg.com/modern-css-reset);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/regular.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css);

/* * { border: 1px solid red; } */

/* Colors */
@media all {
  :root {
    --color-primary-highlight: #000;

    --color-primary-tint-1: #212121;
    --color-primary-tint-2: #535353;

    --color-secondary-tint-1: #e7e7e7;
    --color-secondary-tint-2: #b9b9b9;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary-highlight: #fff;

      --color-primary-tint-1: #d0d0d0;
      --color-primary-tint-2: #a2a2a2;

      --color-secondary-tint-1: #212121;
      --color-secondary-tint-2: #535353;
    }
  }
}
/* Defaults */
@media all {
  * {
    color: var(--color-primary-tint-1);
    font-family: "Roboto Condensed", sans-serif;

    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-secondary-tint-1);

    padding: 0 2.5% 2.5% 2.5%;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  a {
    text-decoration: none;
  }
  :focus {
    outline-color: var(--color-primary-tint-2);
  }
  @media (min-width: 50em) {
    body {
      font-size: 2.5vh;
    }
  }
}
/* High-order components */
@media all {
  body > header,
  body > footer {
    text-align: center;
  }
  body > header,
  body > nav,
  body > main {
    display: flex;
    flex-flow: column;
  }
  body > header,
  body > main,
  body > footer {
    max-width: 90%;
    margin: 0 auto;
  }
  @media all and (min-width: 30em) {
    body > header,
    body > main,
    body > footer {
      max-width: 75%;
    }
  }
  @media all and (min-width: 60em) {
    body > header,
    body > main,
    body > footer {
      max-width: 55%;
    }
  }
}
/* Nav */
@media all {
  nav * {
    color: var(--color-primary-tint-2);
    justify-content: space-around;
  }
  @media all and (min-width: 50em) {
    nav {
      max-width: 60%;
    }
    nav > * {
      justify-content: space-between;
    }
  }
}
/* Header */
@media all {
  body > header {
    align-items: center;
    min-height: 10em;

    flex-flow: row wrap;
    justify-content: space-between;
  }
  @media all and (min-width: 50em) {
    body > header > :first-child {
      flex-grow: 2;
    }
    body > header > :last-child {
      flex-grow: 5;
    }
  }
  @media all and (max-width: 50em) {
    body > header {
      flex-flow: column nowrap;
      justify-content: space-around;
    }
    body > header > :last-child {
      width: 100%;
    }
  }
}
/* Main */
@media all {
  main header,
  main p {
    padding: 0 0 1em;
  }
}
/* Footer */
@media all {
  footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;

    margin: 0 auto;
    padding: 1em 0;
  }
  footer > * {
    margin: 0 0.75em;
  }
  footer section {
    display: flex;
    justify-content: space-between;
  }
  footer section:first-child {
    flex-flow: column;
  }
  footer em {
    color: var(--color-primary-tint-2);
  }
}
/* Article */
@media all {
  article {
    padding: 1em 0 2em;
  }
}

/* Ids / Classes */

@media all {
  /* Horizontal menu */
  ul.horizontal {
    display: flex;

    padding: 0;
    margin: 0;

    list-style: none;
  }
  ul.horizontal label > * {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  ul.horizontal.dispersed {
    justify-content: space-between;
  }
}
/* Squared */
@media all {
  section.squared canvas {
    min-width: 4em;
    min-height: 4em;
  }
}
/* Pagination */
@media all {
  input.page[type="radio"],
  input.page[type="radio"] + section {
    display: none;
  }
  input.page[type="radio"]:checked + section {
    display: block;
  }
  label.page {
    cursor: pointer;
  }
  li.page.selected * {
    color: var(--color-primary-highlight);
  }
  li.page.selected span {
    font-weight: 600;
  }
}
/* Pre-load */
@media all {
  .pre-load {
    transition: 0.75s ease;
    opacity: 0;
  }
}
/* Neutral styles */
@media all {
  .clear {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .undisplayed {
    display: none;
  }
}
/* Simple Line Icons */
@media all {
  .icons {
    font-size: 2em;
  }
}
