@import url(https://unpkg.com/purecss);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css);

/* * { border: 1px solid red; } */

@media all {/* Defaults */
  :root {
    --color-primary-tint-1: #212121;
    --color-primary-tint-2: #292929;
    --color-primary-tint-3: #535353;
    --color-secondary: #E7E7E7;
  }
  * {
    color: var(--color-primary-tint-1);
    font-family: 'Roboto', 'Helvetica';

    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-secondary);

    padding: 0 2.5% 2.5% 2.5%;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  a {
    text-decoration: none;
  }
}
@media all {/* Mix-ins */
  body > header,
  body > footer {
    text-align: center;
  }
  body > header,
  body > nav,
  body > main {
    display: flex;
    flex-flow: column;
    justify-content: center;

    max-width: 60%;

    margin: 0 auto;
  }
  @media all and (max-width: 50em) {
    body > header,
    body > main,
    body > footer {
      max-width: 90%;
    }
  }
}
@media all {/* Nav */
  nav * {
    color: var(--color-primary-tint-2);
  }
}
@media all {/* Header */
  body > header {
    align-items: center;
    min-height: 10em;
  }
  @media all and (min-width: 50em) {
    body > header:first-of-type  {
      flex-flow: row wrap;
      justify-content: space-between;
    }
    body > header > :first-child {
      flex-grow: 2;
    }
    body > header > :last-child {
      flex-grow: 5;
    }
  }
  @media all and (max-width: 50em) {
    body > header:first-of-type  {
      flex-flow: column nowrap;
      height: 15em;
      justify-content: space-around;
    }
    body > header:first-of-type > * {
      width: 100%;
    }
  }
}
@media all {/* Main */
  main > section > :last-child {
    display: flex;
    justify-content: center;
    padding: 1em 0;
  }
}
@media all {/* Footer */
  footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 1em 0;
  }
  footer * {
    padding: 0 .25em;
  }
  footer > section > section {
    display: flex;
    flex-flow: column nowrap;
  }
  footer > section > section > * {
    margin: .25em 0;
  }
  footer em {
    color: var(--color-primary-tint-3);
  }
}

/* Ids / Classes */

@media all {/* Horizontal */
  ul.horizontal {
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
    padding: 0;

    min-width: 80%;

    list-style: none;
  }
  ul.horizontal a > * {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}
@media all {/* Pagination */
  .page, :target ~ .default {
    display: none;
  }
  :target, .default {
    display: block;
  }
}
@media all {/* No style */
  button.no-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
}
