@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);

:root {
  --color-primary: #212121;
  --color-secondary: #e7e7e7;
}

@media all {

  * {
    color: var(--color-primary);
    font-family: 'Roboto';
  }

  body {
    background-color: var(--color-secondary);
  }

  ul {
    max-width: 60%;
  }

  /* Mix-in */

  header, footer {
    text-align: center;
  }

  header, main, footer {
    display: flex;
    flex-flow: column;

    width: 60%;
    max-width: 40em;

    margin: 0 auto;
  }

  /* Classes */

  .horizontal {
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  .horizontal > * {
    padding: 0 1.5em;
  }

  .no-content {
    text-align: center;
  }
}
