@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);

/* Defaults */
@media all {
  :root {
    --color-primary: #212121;
    --color-secondary: #e7e7e7;
  }

  * {
    color: var(--color-primary);
    font-family: 'Roboto';
  }

  body {
    background-color: var(--color-secondary);
  }
}

/* Mix-ins */
@media all {
  header, footer {
    text-align: center;
  }

  header ul, footer ul {
    max-width: 60%;
  }

  header, main, footer {
    display: flex;
    flex-flow: column;

    max-width: 50%;
    margin: 0 auto;
  }
}

/* Classes */
@media all {

  ul.horizontal {
    display: flex;
    justify-content: space-around;

    margin: 0 auto;
    padding: 0;

    list-style: none;
  }

  ul.horizontal * {
    display: flex;
    flex-flow: column;

    padding: 0 1.5em;
  }

  .no-content {
    text-align: center;
  }
}
